/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto:wght@400;500;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
font-family: 'Italianno', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color:#131313;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 2rem;
}
nav li a{
    text-decoration: none;
    color:#424242;

}
